@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    height: 100%;
}

:root {
    --mainColor: #B9DDFF;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor: #eee;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

header .login-btn {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border: none;
}

header .sidebar-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    font-size: 1.8rem;
}

.sidebar {
    width: 360px;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: -50%;
    transition: left 0.3s ease;
}

.sidebar.show {
    left: 0;
}

.sidebar .sidebar-header {
    height: 100px;
    display: block;
}

.sidebar .close-btn {
    display: block;
    float: right;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.sidebar .close-btn:hover {
    background-color: inherit !important;
}

.sidebar p {
    margin-left: 20px;
    height: 150px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar .login-btn {
    height: 50px;
}

.sidebar .login-btn button {
    margin: 10px 55px;
    width: 250px;
    height: 50px;
    padding: 15px;
    font-size: 16px;
    border: none;
    background-color: var(--mainColor);
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar nav {
    margin-top: 70px;
}

.sidebar nav .sidebar-menu {
    height: 75px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
}

.sidebar nav .sidebar-menu a {
    text-decoration: none;
    color: #78909C ;
    font-weight: bold;
}

section.main{
    display: block;
    max-width: 700px;
    height: 100%;
    background-color: blue;
}


@media only screen and (max-width: 1024px) {
    header .responsive_sidebar {
        transform: none;
    }
}